.header {
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 8px;
}
.input {
  font-size: 18px;
  outline: none;
  height: 60px;
  padding: 0;
  width: 320px;
  border-radius: 4px;
  margin-right: 2px;
  box-sizing: border-box;
  padding: 8px;
  border: 2px solid white;
  transition: border-color 0.25s;
  background-color: inherit;
  color: white;
}
.input:hover,
.input:focus {
  border-color: gray;
}
.input::placeholder {
  color: rgb(189, 187, 187);
}
.btn {
  height: 60px;
  width: 150px;
  border-radius: 4px;
  text-transform: uppercase;
  color: rgb(189, 187, 187);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7360db;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:active {
  border-color: gray;
}

.btn:hover {
  background: linear-gradient(to right, pink, blue);
}
.btn:focus,
.btn:focus-visible {
  outline: none;
  border-color: gray;
  background: linear-gradient(to right, pink, blue);
}
