.header {
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 4px;
}
.input {
  outline: none;
  height: 40px;
  padding: 0;
  border: none;
  width: 240px;
  border-radius: 4px;
  margin-right: 2px;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
.input:hover,
.input:focus {
  border-color: gray;
}
.btn {
  height: 40px;
  width: 120px;
  border-radius: 4px;
  text-transform: uppercase;
}
.btn:active {
  border-color: gray;
}
