.btn {
  height: 60px;
  width: 150px;
  text-transform: uppercase;
  color: rgb(228, 225, 225);
  border: 1px solid rgb(146, 148, 248);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 0.25s;
  letter-spacing: 2px;
  margin-top: 95px;
}
.btn:active {
  border-color: gray;
}

.btn:hover,
.btn:focus {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}
.btn:focus {
  outline: none;
}
